.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 30px;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
}

#light{
    background-color:  #FFFACD;
    transition: 0.4s ease;

}

#dark{
  background-color: #001219;
  transition: 0.4s ease;
}

